@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');

body {
    font-family: roboto mono, monospace;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #0c170f;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

header {
    background-color: #0c170f;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 36px;
    font-family: 'Roboto Mono', Monospace; /* Add this line */
}

nav {
    background-color: #16331f;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    font-weight: bold;
    font-size: 16px;
}

.about-section {
    display: flex;
    align-items: flex-start; /* Align items at the start of the cross axis (top) */
    padding: 20px;
}

.about-content {
    flex: 1;
}

.about-content p {
    text-align: justify;
    font-size: 16px;
    line-height: 1.5;
}

.about-image {
    flex: 1;
    text-align: center;
}

.about-image img {
    max-width: 80%;
    height: auto;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    color: #ceedd8;
}

footer {
    background-color: #0c170f;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 10px;
}
