@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');


body {
    font-family: 'roboto Mono', monospace;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #0c170f;
}

header {
    background-color: #0c170f;
    color: #fff;
    padding: 1px;
    text-align: center;
    font-size: 40px;
}

nav {
    background-color: #16331f;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    font-weight: bold;
    font-size: 16px;
}

section {
    padding: 20px
}

/* Style for the main content area */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Style for the welcome section */
.welcome {
    text-align: center;
    padding: 50px 0;
    background-color: #f8f8f8;
}

/* Style for the main heading */
.welcome h2 {
    color: #333;
}

/* Style for the main paragraph */
.welcome p {
    font-size: 18px;
    line-height: 1.6;
    color: white;
}

/* Style for the featured content */
.featured {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}

/* Style for each featured item */
.featured-item {
    flex: 1;
    margin: 0 10px;
    text-align: center;
}

.featured-item img {
    max-width: 100%;
    height: auto;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .featured-item {
        flex: 0 0 100%;
        margin: 10px 0;
    }
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    color: #ceedd8;
}

.playlist {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.playlist-numbers {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 45%; /* Adjust the width as needed */
}

.playlist-numbers li {
    margin: 10px 0;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
}

.playlist-text {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 45%; /* Adjust the width as needed */
    text-align: right; /* Align the text to the right */
}

.playlist-text li {
    margin: 10px 0;
}

.playlist-text a {
    color: #ffffff;
    font-weight: thin;
    display: block;
    font-size: 15px;
}

.playlist-text a:hover {
    color: #ceedd8;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.circle {
    position: relative;
    width: 300px; /* Adjust the size as needed */
    height: 300px; /* Adjust the size as needed */
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
    filter: grayscale(100%);
    transition: transform 0.3s, filter 0.3s;
}

.circle:hover {
    filter: grayscale(0%);
    transform: scale(1.1); /* Increase size on hover */
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.circle p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    margin: 0;
}


footer {
    background-color: #0c170f;
    color: white;
    text-align: center;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;